:root {
    --Background: #FFFFFF;
    --Color-header:#F8F9FE;
    --Black-white: #202028;
    --Gray-dark: #717483;
    --Gray-light: #9496A2;
    --Card: #F0F3FA;
    --Switch-1: #AEB3C9;
    --Switch-2: #AEB3C9;


    --Facebook: #258DE6;
    --Twitter: #289EE6;
    --Instagram-yellow: #F2C375;
    --Instagram-pink: #DA5597;
    --Youtube: #B40A2E;
    --Green: #2CA886;
    --Red: #B94751;
}

/*----- ----- ----- ----- ----- -----
Dark Mode
----- ----- ----- ----- ----- -----*/
@media (prefers-color-scheme: dark) {
    :root {
        --Background: #1D2029;
        --Color-header: #20222F;
        --Black-white: #FEFFFF;
        --Gray-dark: #6F7598;
        --Gray-light:#777C99;
        --Card: #252B43;
        --Switch-1: #4595D0;
        --Switch-2: #3CD18D;
    }
    .switch{
        background: linear-gradient(90deg, #4595D0 0%, #3CD18D 100%);
    }
}

/*----- ----- ----- ----- ----- -----
    General
----- ----- ----- ----- ----- -----*/
body {
    margin: 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: var(--Background);
}
.wrapper {
    padding: 0 30px;
}


/*----- ----- ----- ----- ----- -----
    Header
----- ----- ----- ----- ----- -----*/
header {
    background-color: var(--Color-header);
    padding-bottom: 100px;
    padding-top: 35px;
    border-radius: 0 0 15px 15px;
}
.header__title {
    border: none;
    margin: 0;
    font-size: 1.7em;
    color: var(--Black-white);
}
.header__p {
    color: var(--Gray-dark);
    margin: .5em 0;
    font-size: .9em;
    font-weight: 600;
    border-bottom: 2px solid var(--Black-white);
    padding-bottom: 1.5em;
}

/*----- ----- ----- ----- ----- -----
    Dark Mode
----- ----- ----- ----- ----- -----*/
.dark{
    display: flex;
    justify-content: space-between;
    padding: .5em;
    align-items: center;
}
.dark__title{
    color: var(--Gray-dark);
    font-weight: 600;
}
.checkbox{
    display: none;
}
.checkbox:checked ~ .switch:before{
    transform: translateX(0);
}
.switch {
    display: block;
    height: 2em;
    width: 4em;
    border-radius: 1.2em;
    background: linear-gradient(90deg, var(--Switch-1) 0%, var(--Switch-2) 100%);
    padding: .2em;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.switch:before {
    content: "";
    display: block;
    background-color: var(--Background);
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
    transform: translateX(2em);
    transition: .3s;
    will-change: transform;
}

/*----- ----- ----- ----- ----- -----
Cards
----- ----- ----- ----- ----- -----*/
.top__card {
    margin-top: -50px;
    margin-bottom: 2em;
}
.grid {
    display: grid;
    row-gap: 25px;
}
.card {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--Card);
    text-align: center;
    margin-bottom: 10px;
    padding: 1.5em 0;
    position: relative;
}
/* Pseudoelement before */
.card:before {
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}


/*----- ----- ----- ----- ----- -----
    Cards Color
----- ----- ----- ----- ----- -----*/
.facebook:before {
    background-color: var(--Facebook);
}
.twitter:before {
    background-color: var(--Twitter);
}
.instagram:before {
    background: linear-gradient(90deg, var(--Instagram-yellow) 0%, var(--Instagram-pink) 100%);
}
.youtube:before {
    background-color: var(--Youtube);
}


/*----- ----- ----- ----- ----- -----
    Cards Content
----- ----- ----- ----- ----- -----*/
.card__title {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Gray-dark);
    font-size: .8em;
    font-weight: bold;
}
.card__title img {
    margin-right: 5px;
}
.card__followers-nomber {
    font-size: 3em;
    font-weight: 700;
    color: var(--Black-white);
}
.card__followers-title {
    display: block;
    text-transform: uppercase;
    color: var(--Gray-light);
    letter-spacing: 3px;
    margin-top: .5em;
}
.card__today {
    color: var(--Green);
    font-weight: bold;
    font-size: .8em;
    margin: 30px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card__today img {
    margin-right: 5px;
}

/*----- ----- ----- ----- ----- -----
    OverView
----- ----- ----- ----- ----- -----*/
.overview {
    margin-bottom: 2em;
}
.overview__title {
    color: var(--Gray-dark);
}
.cardSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    background-color: var(--Card);
    border-radius: 8px;
    padding: 1.8em;
}
.cardSmall p {
    margin: 0;
}
.cardSmall__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: var(--Gray-dark);
    padding-bottom: 1em;
}
.cardSmall__icon {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1em;
}
.cardSmall__number {
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--Black-white);
}
.cardSmall__percentage {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--Green);
    font-weight: 600;
}

.danger {
    color: var(--Red);
}


/*----- ----- ----- ----- ----- -----
    Media Tablet
----- ----- ----- ----- ----- -----*/
@media screen and (min-width: 620px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}


/*----- ----- ----- ----- ----- -----
    Media Desktop
----- ----- ----- ----- ----- -----*/
@media screen and (min-width: 620px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

/*----- ----- ----- ----- ----- -----
    Media Desktop
----- ----- ----- ----- ----- -----*/
@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
    .header__p{
        border: none;
    }
    .header__grid{
        display: grid;
        grid-template-columns: 1fr 15%;
    }
}